body {
    /*background-color: #9cdb96;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(235, 241, 253);
}

.site-header {
    text-align: center;
    padding: 1rem 0 1rem 0;
    background-color: #02007e;
    color: #ffffff;
}

.contenedor {
    max-width: 1200px;
    margin: 20px auto;
}

.contenedor-form {
    margin: 0 auto;
}

.forma-jugadores {
    display: flex;
    justify-content: center;
    margin: 0 30px;
}

fieldset {
    border: 2px solid black;
    margin: 0 auto;
}

img {
    width: 80px;
    height: 60px;
    padding: 7px 7px;
}

legend {
    font-weight: 700;
    margin: 3px 3px;
}

label {
    display: block;
    font-weight: 700;
    margin: 3px 3px;
}

input[type=text] {
    display: block;
    margin: 10px 0;
    padding: 5px 40px;
    border: outset;
    border-radius: 25px;
}

.boton {
    color: #ffffff;
    background-color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 25px;
    margin: 20px;
}

.boton:hover {
    cursor: pointer;
}

.contenedor-mensajes {
    display: flex;
    justify-content: center;
}

.contenedor-tabla {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.tabla {
    width: 300px;
    height: 300px;
    background-color: #7c9fff;
}

.tabla td {
    border: 3px solid black;
    text-align: center;
    padding: 0;
    width: 90px;
    height: 90px;
}

.tabla td:hover {
    cursor: pointer;
}

.tabla td img {
    width: 80px;
    height: 60px;
}